---
import Layout from "@/layouts/layout.astro";
---

<Layout>
  <main class="mx-auto flex flex-col items-center px-4 pt-20 pb-4">
    <header class="w-full max-w-2xl">
      <h1 class="text-2xl font-medium">Arthur Sallé</h1>
      <h2 class="text-zinc-500">Frontend Developer Freelance</h2>
    </header>
  </main>
</Layout>
