---

---

<div class="flex w-full max-w-xl flex-col gap-4">
  <h2 class="text-lg font-medium text-zinc-100">Get in touch</h2>

  <div class="">
    <span class=""
      >Got something to share?
      <a href="mailto:arthur.salle95@gmail.com">
        <span
          class="text-zinc-300 underline underline-offset-2 transition-colors duration-200 hover:text-zinc-100"
          >Send me an email</span
        >
      </a>
    </span>
  </div>
</div>
