---
import profilePic from "@/assets/c-arthur.webp";
import LinkButton from "./ui/link-button.astro";
---

<header class="flex w-full max-w-xl flex-col gap-12">
  <div class="flex items-center gap-4">
    <img
      src={profilePic.src}
      alt="Arthur Sallé"
      height={96}
      width={96}
      class="aspect-square size-16 rounded-full border-2 object-cover shadow-xs shadow-zinc-500 select-none md:size-20"
    />
    <div class="font-manrope">
      <h1 class="text-2xl font-medium text-zinc-100 md:text-3xl">
        Arthur Sallé
      </h1>
      <h2 class="text-zinc-500 md:text-lg">Frontend Developer Freelance</h2>
    </div>
  </div>

  <div class="flex flex-col gap-6">
    <div class="flex flex-col gap-4">
      <p>
        I'm a frontend developer based in Angers, France, with a passion for
        building user-friendly web applications. I'm specialized in React and
        TypeScript, and I'm always eager to learn new technologies and improve
        my skills.
      </p>
      <p>
        I've worked on various projects, from small startups to large companies,
        and I'm always looking for new challenges. If you're interested in
        working together, feel free to reach out!
      </p>
    </div>

    <div class="flex flex-wrap items-center gap-3">
      <LinkButton href="https://github.com/ArthurSalle">Github</LinkButton>
      <LinkButton href="https://www.linkedin.com/in/arthur-sall%C3%A9/"
        >LinkedIn</LinkButton
      >
      <LinkButton href="https://bsky.app/profile/saltyarthur.bsky.social"
        >Bluesky</LinkButton
      >
      <LinkButton href="https://www.linkedin.com/company/undefined-hq/"
        >undefined HQ</LinkButton
      >
    </div>
  </div>
</header>
