---
import ProjectCard from "./ui/project-card.astro";
import TeamzPreview from "@/assets/c-teamz-preview.webp";

const projects = [
  {
    title: "Pear to Park",
    description:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis incidunt fuga, sint officiis aspernatur.",
    imageUrl: "",
    isWip: true,
  },
  {
    title: "Teamz Tennis",
    description:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis incidunt fuga, sint officiis aspernatur.",
    imageUrl: TeamzPreview.src,
    url: "https://www.teamz-tennis.com/",
    bgClass: "bg-[#FE5000]",
  },
  {
    title: "Ma Formule Leasing",
    description:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis incidunt fuga, sint officiis aspernatur.",
    imageUrl: "",
    url: "https://www.maformuleleasing.fr/",
  },
  {
    title: "Vaulty",
    description:
      "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis incidunt fuga, sint officiis aspernatur.",
    imageUrl: "",
    url: "https://vaulty.vercel.app/",
  },
];
---

<div class="flex w-full max-w-xl flex-col gap-4">
  <h2 class="font-manrope text-lg font-semibold text-zinc-100">Projects</h2>

  <div class="grid grid-cols-1 gap-8 sm:grid-cols-2">
    {projects.map((project) => <ProjectCard project={project} />)}
  </div>
</div>
