---

---

<div class="flex w-full max-w-xl flex-col gap-4">
  <h2 class="text-lg font-medium">Selected Projects</h2>

  <div class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
    <div class="flex flex-col gap-2">
      <div class="h-32 w-full rounded-md bg-zinc-200"></div>

      <div>
        <h3 class="text-zinc-100">Teamz Tennis</h3>
        <p class="text-sm text-zinc-400">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis
          incidunt fuga, sint officiis aspernatur.
        </p>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div class="h-32 w-full rounded-md bg-zinc-200"></div>

      <div>
        <h3 class="text-zinc-100">Teamz Tennis</h3>
        <p class="text-sm text-zinc-400">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis
          incidunt fuga, sint officiis aspernatur.
        </p>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div class="h-32 w-full rounded-md bg-zinc-200"></div>

      <div>
        <h3 class="text-zinc-100">Teamz Tennis</h3>
        <p class="text-sm text-zinc-400">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis
          incidunt fuga, sint officiis aspernatur.
        </p>
      </div>
    </div>
    <div class="flex flex-col gap-2">
      <div class="h-32 w-full rounded-md bg-zinc-200"></div>

      <div>
        <h3 class="text-zinc-100">Teamz Tennis</h3>
        <p class="text-sm text-zinc-400">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veritatis
          incidunt fuga, sint officiis aspernatur.
        </p>
      </div>
    </div>
  </div>
</div>
