---
import ProjectCard from "./ui/project-card.astro";
import TeamzPreview from "@/assets/c-teamz.webp";
import SimPreview from "@/assets/c-mfl.webp";
import VaultyPreview from "@/assets/c-vaulty.webp";
import VoilaPreview from "@/assets/c-voila.webp";
import P2Preview from "@/assets/c-p2p.webp";

const projects = [
  {
    title: "Peer2Park",
    description:
      "A platform enabling property owners to rent out their parking spaces in Dubaï seamlessly.",
    imageUrl: P2Preview.src,
    url: "https://peer2parkdubai.com/",
    bgClass: "bg-[#cfd9fc]",
  },
  {
    title: "Voilà Creators",
    description:
      "A creator dashboard for travel influencers to design, publish and sell premium guides, including analytics and backoffice management.",
    imageUrl: VoilaPreview.src,
    url: "https://voilacreators.com/",
    bgClass: "bg-[#fc3838]",
  },
  {
    title: "Teamz Tennis",
    description:
      "A platform that connects tennis clubs and players to organize and manage team matches and tournaments.",
    imageUrl: TeamzPreview.src,
    url: "https://www.teamz-tennis.com/",
    bgClass: "bg-[#FE5000]",
  },
  {
    title: "MaFormuleLeasing.fr",
    description:
      "A leasing simulator designed to help businesses outsource the financing of their equipment in a simple and efficient way.",
    imageUrl: SimPreview.src,
    url: "https://www.maformuleleasing.fr/sante",
    bgClass: "bg-[#DBEAFE]",
  },
  {
    title: "Vaulty",
    description:
      "A password manager that allows you to securely store and manage your passwords and sensitive information.",
    imageUrl: VaultyPreview.src,
    url: "https://vaulty.vercel.app/",
    bgClass: "bg-amber-500",
  },
];
---

<div class="flex w-full max-w-xl flex-col gap-4">
  <h2 class="font-manrope text-lg font-semibold text-zinc-100">Projects</h2>

  <div class="grid grid-cols-1 gap-8 sm:grid-cols-2">
    {projects.map((project) => <ProjectCard project={project} />)}
  </div>
</div>
