---
import ProjectCard from "./ui/project-card.astro";
import TeamzPreview from "@/assets/c-teamz-preview.webp";
import SimPreview from "@/assets/c-sim-preview.webp";
import VaultyPreview from "@/assets/c-vaulty-preview.webp";

const projects = [
  {
    title: "Peer to Park",
    description: "Project in development. Details coming soon.",
    imageUrl: "",
    isWip: true,
  },
  {
    title: "Teamz Tennis",
    description:
      "A platform that connects tennis clubs and players to organize and manage team matches and tournaments.",
    imageUrl: TeamzPreview.src,
    url: "https://www.teamz-tennis.com/",
    bgClass: "bg-[#FE5000]",
  },
  {
    title: "Ma Formule Leasing",
    description:
      "A leasing simulator designed to help businesses outsource the financing of their equipment in a simple and efficient way.",
    imageUrl: SimPreview.src,
    url: "https://www.maformuleleasing.fr/",
    bgClass: "bg-[#DBEAFE]",
  },
  {
    title: "Vaulty",
    description:
      "A password manager that allows you to securely store and manage your passwords and sensitive information.",
    imageUrl: VaultyPreview.src,
    url: "https://vaulty.vercel.app/",
    bgClass: "bg-amber-500",
  },
];
---

<div class="flex w-full max-w-xl flex-col gap-4">
  <h2 class="font-manrope text-lg font-semibold text-zinc-100">Projects</h2>

  <div class="grid grid-cols-1 gap-8 sm:grid-cols-2">
    {projects.map((project) => <ProjectCard project={project} />)}
  </div>
</div>
