---
import Badge from "./ui/badge.astro";

const labels = [
  "react",
  "typescript",
  "tailwind",
  "zod",
  "tanstack/query",
  "trpc",
  "hono",
  "drizzle",
  "postgresql",
  "vite",
  "astro",
];
---

<div class="flex w-full max-w-xl flex-col gap-4">
  <h2 class="text-lg font-medium text-zinc-100">Stack</h2>

  <div class="flex flex-wrap items-center gap-2 font-mono">
    {labels.map((label) => <Badge>{label}</Badge>)}
  </div>
</div>
