---

---

<!-- bg-[#0d3b66] text-[#faf0ca] --><!-- class="rounded-sm bg-[#2a9d8f] px-1.5 py-0.5 text-sm font-semibold text-[#264653]" --><!-- class="rounded-sm bg-[#6a8d73] px-1.5 py-0.5 text-sm font-semibold text-[#f4fdd9]" -->
<div
  class="rounded-sm border border-[#51a2ff]/50 bg-[#51a2ff]/15 px-1.5 py-0.5 text-sm font-medium text-[#51a2ff]"
>
  <slot />
</div>
